  .header-bar {
    font-style: oblique;
    width: 100vw;
    height: 75px;
    z-index: 100;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 10%;
    padding-left: 1px;
    box-shadow: 1px 1px 10px #aaa;
}

.header-bar h1 {
    margin-left: 15px;
    
}

.header-bar button {
  margin-right: 10px;
  font-weight: bold;
  padding: 5px 10px;
}